#-----------------------------------------
# SFA DB Information
#-----------------------------------------
[INKLESS]
DBUSER=your_db_user
DBPASS=your_db_password
DBUSING=your_ip:1251/your_sid
[MES]
DBUSER=your_db_user
DBPASS=your_db_password
DBUSING=your_ip:1521/your_sid
